:root {
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Merriweather', sans-serif;

    --const-white: #fff;
    --const-black: #000;
    --cosnt-primary: #5b8bf7;
    --const-secondary: #f0f0f0;
    --const-gray-1: #a3a3a3;

    --default-border-radius: 10px;

    --border-color: var(--const-gray-1);
    --shadow-1: 1px 1px 5px rgba(0, 0, 0, 0.1);
    --shadow-2: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
